
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;

  
}



 body {
  
  
  font-family: Poppins, sans-serif;
  animation: gradiente 1s ease infinite;
  background-image: linear-gradient(
    180deg,
    #ed3327 0%,
    #ffffff 50%,
    #ffffff 100%
  );
  
}
@keyframes gradiente {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}


ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  list-style-type: none;
}

p {
  line-height: 26px;
}

/* button */
.button {
  padding: 12px 30px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 22px;
  display: inline-block;
  border: 0;
}

.button:hover {
  color: #fff;
}

.loader {
  display: flex;
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-mask: linear-gradient(0deg, #000 55%, #0000 0) bottom/100% 18.18%;
  .loader {
    background: linear-gradient(to bottom, #f03355, #ddd) no-repeat;
    background-size: 100% 100%;
    animation: l8 2s infinite steps(7);
  }
}



/* navbar */
.navbar {
  padding: 10px 0;
  transition: 0.5s ease-out;
  background: transparent;
  justify-content: space-betwwen;
}
.navbar-brand .subtitulo {
  display: block;
  font-size: 18px;
  color: #999;
  margin-top: -10px;
}

.navbar-brand .textos-navbar {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.navbar .navbar-brand {
  color: #1f1f1f;
  font-size: 32px;
  padding: 15px 0;
  font-weight: 400;
}

.navbar .navbar-nav li {
  padding: 0 15px;
}

.navbar .navbar-nav li a {
  color: #1f1f1f;
  font-weight: 600;
  font-size: 16px;
}

.navbar .navbar-nav li a:hover {
  color: #ed3237;
}



.navbar .navbar-nav li a:last-child {
  padding-right: 0 !important;
}

.navbar .navbar-nav li:last-child {
  padding-right: 0;
}

.navbar-fixed {
  background: #fff;
  transition: 0.5s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0);
}

.navbar-fixed .navbar-brand {
  color: #222;
}

.navbar-fixed .navbar-nav li a {
  color: #222;
}

.navbar-fixed .navbar-toggler i {
  color: #222;
}

.navbar-transparent {
  background: transparent !important;
}

/* about us */
.about {
  padding-bottom: 125px;
}

.about .col {
  background: #ed3237;
}

.about img {
  height: 100%;
  background: #766f5f;
}

.about .content {
  padding: 40px;
  color: #fdfdfd;
  background: #ed3237;
}

.about .content h3 {
  color: #fff;
  font-weight: 600;
  font-size: 44px;
}

.about .content span {
  font-size: 16px;
  color: #ed3237;
  margin-bottom: 22px;
  display: block;
}

/* home intro */

.home-intro {
  position: relative;
  padding: 100px 0 120px !important;
 
  display:flex;

  

}

.home-intro .content {
 margin-left:200px;
  
  position: relative;
  
}


.home-intro .content .button {
  background: #fff;
}



.home-intro .content-text {
  padding: 20px 0 20px 20px;

  
}
.home-intro:before {
  width: 350px;
  background: #ed3237;
  height: calc(100% - 200px);
  border: 8px solid #fff;
  position: absolute;
  content: '';
  z-index: -1;
  margin-left:200px;
}

.home-intro .content:after {
  width: 350px;
  background: #ed3237;
  height: calc(100% - 200px);
  position: absolute;
  content: '';
  z-index: -1;
  top: 50px;
  left: 12px;
}

.home-intro .button {
  color: #ed3237;
}

.home-intro .button:hover {
  color: #1e1e1e;
}



.home-intro h5 {
  color: #fff;
  font-size: 14px;
  
  font-weight: 300;
}

.home-intro h2 {
  color: #fff;
  font-size: 52px;
  font-weight: 700;
  margin: 25px 0;
  line-height: 54px;
  letter-spacing: 1px;
}
.highlight {
  background-color: white;
  color: red;
  padding: 1px 5px;
  font-weight:300;
}
.highlight span {
  background-color: white;
  color: red;
  padding: 1px 5px;
  font-weight:300;
}

.home-intro h6 {
  color: #fff;
  line-height: 25px;
  font-size: 16px;
  margin-bottom: 15px;
  width: 75%;
  font-weight: 300;
  position: relative;
}



/* section */
.section {
  padding: 100px 0 120px;
}

.section-no-title {
  padding: 120px 0 120px;
}

.section-top {
  padding-top: 125px;
}

.title-section {
  margin-bottom: 50px;
}

.title-section h3 {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 5px;
}

.title-section h3 span {
  color: #dd3237;
}

.title-section-left {
  margin-bottom: 0;
}

.title-section-left h3 {
  font-size: 40px;
  font-weight: 600;
}

.title-section-left h3 span {
  color: #dd3237;
}

.title-section p {
  margin: auto;
  line-height: 30px;
  font-size: 20px;
  font-weight: 300;
}

.title-section p span {
  width: 50px;
  height: 3px;
  background: #dd3237;
  display: block;
  display: inline-block;
  position: relative;
  top: -5px;
  margin-right: 20px;
}

.title-section-two {
  text-align: left;
}

.title-section-two p {
  width: 100%;
}

/* services */
.services {
  padding: 100px 0 90px;
}

.services .content {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
  border-left: 4px solid #ed3237;
  position: relative;
  transition: 0.6s ease-out;
  height:100%;
  right: 100%;
  left: 0;
  z-index: 99;
}

.services .content1 {
  background-image: url('../images/produto1.jpg');
}

.services .content2 {
  background-image: url('../images/produto2.jpg');
}

.services .content3 {
  background-image: url('../images/produto3.jpg');
}
.services .content4 {
  background-image: url('../images/produto4.jpg');
}
.services .content h5 {
  font-weight: 600;
  color: #ed3237;
}
.services .content p {
  font-weight: 400;
  color: #ed3237;
}

.bg-special {

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23c6c0c0' fill-opacity='0.13'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.13'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.bg-special2 {
  background-color: #ededed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='46' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23c5c5c5' fill-opacity='0.02'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.services .content:after {
  content: '';
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  background: rgba(237, 50, 55, 0.5);
  height: 100%;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
  color: #fff;
  z-index: -9;
}

.text-desint {
  font-weight: 300;

}
.services .content:hover:after {
  right: 0;
}

.services .content:hover i {
  color: #fff;
}

.services .content:hover h5 {
  color: #fff;
}

.services .content:hover p {
  color: #fff;
}

.services .content i {
  font-size: 54px;
  color: #ed3237;
}

.services .content h5 {
  margin: 25px 0 14px;
}

/* our work */
.our-work .content img {
  width: 100%;
  position: relative;
}

.our-work .content .caption {
  position: absolute;
  background-color: rgba(237, 50, 55, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s ease;
  padding-top: 40%;
  text-align: center;
  width: 80%;
  height: 100%;
  margin: auto;
}
.foto-title {
  margin-right: 1rem;
  padding-top:2rem;
}
.foto-title h3 {
  margin-right: 1rem;
  
}

.our-work .content .caption h6 {
  color: #fff;
}

.our-work .content .caption p {
  color: #fff;
}

.our-work .content .caption p:hover {
  color: #fff;
}

.our-work .content a:hover .caption {
  opacity: 1;
  width: 100%;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.our-work .content a img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.our-work .content a:hover img {
  transform: scale(1.05); /* Aumenta a imagem em 5% */
  transition: transform 0.3s ease;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

/* Estilização do botão flutuante do WhatsApp */
.whatsapp-float {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: white;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* Estilização da caixa de mensagem branca */
.whatsapp-message-box {
  background-color: white;
  color: #128c7e;
  padding: 8px 32px;
  border-radius: 25px 0 0 25px;
  font-size: 14px;
  margin-right: -26px;
  z-index: 99;
  display: flex;

  align-items: center;
  height: 70px;
  justify-content: center;
}

.whatsapp-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whatsapp-text p {
  margin: 0;
  padding-left: 5px;
}

/* Estilização do ícone do WhatsApp */
.whatsapp-icon {
  font-size: 30px;
  background-color: #25d366;
  border-radius: 50%;
  padding: 10px;
  z-index: 100;
}

/* Mudar a visibilidade ao passar o mouse */
.whatsapp-float:hover .whatsapp-icon {
  background-color: #128c7e;
  color: #fff;
  font-size: 32px;
}

.whatsapp-float:hover .whatsapp-message-box {
  background-color: #e5e5e5;
}

/* footer */
footer {
  text-align: center;
  background-color: #111 !important;
  color: #bbb;
}

footer p {
  width: 60%;
  margin: auto;
}

footer ul {
  margin: 40px 0;
}

footer ul li {
  display: inline-block;
  margin: 0 8px;
}

.social:hover {
  
}
footer ul li i {
  color: #fff;
  height: 40px;
  width: 40px;
  background: #dd3237;
  border-radius: 50%;
  padding-top: 12px;
  border: 1px solid transparent;
  transition: filter 0.2s ease-in-out;
}
footer ul li i:hover {

  filter: brightness(0.7) saturate(1.5);
  height: 44px;
  width: 44px;
 
  
}

.wb {
  font-size:10px;
  padding:6px
}

footer ul li i.fa-facebook-f {
  background: #3b5999;
}

footer ul li i .fa-instagram {
  background: #f46f30;
}

footer h6 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  position: relative;
  margin-bottom: 28px;
}

.animate__animated .animate__slideInLeft {
  --animate-duration: 4s;
  --animate-delay: 0.9s;
}

.animate__animated {
  animation-duration: 3s;
}

.hidden {
  opacity: 0;
}

#calendario-animado {
  height: 40px;
  width: 40px;
  color: #fff;

}
#coracao {
  position: absolute; /* Posiciona o ícone de forma absoluta */
  top: 15px; /* Ajuste a posição vertical */
  left: 310px; /* Ajuste a posição horizontal */
  z-index: 10;
}

.cookieCard {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f7f7f7 !important;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed; /* Isto garante que fique fixado na tela */
  bottom: 0; /* Alinha na parte inferior da janela */
  left: 0; /* Alinha no lado esquerdo da janela */
  width: 50%; /* Isto fará com que se estenda pela largura total da janela */
  z-index: 1000; /* Isto garante que fique por cima de outros elementos */
}

.btn {
  display: flex;
  width: 150px;
  place-items: center;
  background: #e3edf7;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
  text-decoration: none;
}

.btn:hover {
  color: #fff;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}

.btn {
  transition: transform 0.5s;
}

.btn:hover {
  transform: scale(0.9);
  fill: #333333;
}

.cookieHeading {
  font-size: 24px;
  font-weight: bold;
  color: rgba(237, 50, 55, 0.5);
}

.cookieDescription {
  font-size: 16px;
  margin-top: 10px;
}

.acceptButton {
  background-color: rgba(237, 50, 55, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
}

.linkCookie {
  color: rgba(237, 50, 55, 0.5);
  text-decoration: none;
}

.map-title {
  position: absolute;
  z-index: 1;
  width: 40%;
  bottom: 0;
  background: #fff;
  padding: 10px;
}
#location {
  position: relative;
  min-height: 240px;
  min-width: 240px;
  height: 98%;
  margin: 5px;
  border-radius: 10px;
}

.card-wrapperl {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background: #252525;
  color: #fff;
  height: 100vh;
}

.cardl {
  position: relative;
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  border-radius: 15px;
  overflow: hidden; /* Para manter a luz dentro do cartão */
}

.cardl:hover {
  border: 2px solid red; /* Adiciona uma borda vermelha no hover */
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5); /* Adiciona uma sombra vermelha no hover */
  /* Muda o cursor para indicar que é clicável, se necessário */
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Suaviza a transição */
}


.card-lightl {
  position: absolute;
  width: 150px; /* Ajuste conforme necessário */
  height: 150px;
  background-color: rgba(255, 0, 0, 1)
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 20000;
}

.card-contentl {
  /* Estilos para o conteúdo do cartão */
  position: relative;
  z-index: 1; /* Garantir que o conteúdo fique acima da luz */
}

/* Estilos para título, subtítulo, lista e link */
.card-titlel {
  /* estilos para h2 */
}
.card-subtitlel {
  /* estilos para p */
}
.card-listl {
  /* estilos para ul e li */
}
.card-linkl {
  /* estilos para a */
}
